*.sublime-workspace

# Ignore all the garbage in the Source folder.
/Source/*
# But allow tex and bib files.
!/Source/*.tex
!/Source/*.bib
# And also allow the contents in subfolders.
!/Source/*/

# Ignore the shipping folder.
/Shipping

# Silly Windows thumbnail cache.
[tT]humbs.[dD][bB]

# PDF files are allowed in there.
# !/Source/Main/Images/*.pdf
